<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>de la mora &middot; grace</title>
  <link rel="stylesheet" href="./assets/resume.css" />
  <!-- Include FontAwesome Library for Icons -->
  <script src="https://kit.fontawesome.com/c2a3fdc39d.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>grace de la Mora</h1><!-- The loneliest H1 in this page's existence, as it should be -->
    <!-- Screen readers ❤ lists, so I do, too -->
    <ul>
      <li><!-- If you're reading this code, don't forget to change the (at) when you email me! -->
        <a class="icons" href="mailto:grace.g.delamora(at)gmail.com">
          <span class="fa-stack" title="Email Me" alt="Email Me">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li><!-- Call me if you want to hire me! 😁 -->
        <a class="icons" href="tel:+13524489182">
          <span class="fa-stack" title="Call Me" alt="Call Me">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li><!-- Check out my LinkedIn for my past life as a career professional -->
        <a class="icons" href="https://www.linkedin.com/in/grace-de-la-mora-569b66176/" target="_blank">
          <span class="fa-stack" title="LinkedIn" alt="LinkedIn">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li><!-- Check out my Github for my code -->
        <a class="icons" href="https://github.com/thetrend" target="_blank">
          <span class="fa-stack" title="Github" alt="Github">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </header><!-- That's all, folks! For the header, that is! -->
  
  <!-- Treat the Profile photo and Intro section as one entity -->
  <div id="group">
    <img id="profile" src="./assets/profile.jpg" alt="Grace de la Mora" />
    <section id="intro">
      <p>I am an experienced business professional, having spent the majority of my career in various management positions.</p>
      <p>Most recently, I have decided to professionally pursue my longtime passions of web design and full stack web development.</p>
      <p>I have a unique understanding of UX/UI needs both as an end user and web developer.</p>
      <p>Data-obsessed, I find developing data models to be creatively satisfying.</p>
      <p>I am currently a student at Lambda School but have over a decade's experience as a self-taught web designer and developer.</p>
    </section>
  </div>

  <!-- What you really came here for: my skill sets -->
  <main>
    <ul>
      <li><strong>Code</strong></li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>PHP</li>
      <li>Node</li>
      <li>React</li>
    </ul>
    <ul>
      <li><strong>Data</strong></li>
      <li>MySQL</li>
      <li>Postgres</li>
      <li>MongoDB</li>
      <li>JSON</li>
    </ul>
    <ul>
      <li><strong>Proficient</strong></li>
      <li>Adobe CS</li>
      <li>Google WS</li>
      <li>Microsoft</li>
      <li>Android</li>
      <li>iOS</li>
    </ul>
  </main><!-- end of main -->

<!-- Projects are currently my ASIDE-projects, get it? Get it? I'll see myself out now. -->
  <aside>
    <h2>Currently developing</h2>
    <ul>
      <li><strong><a href="https://hogwarts-revisited.net/" target="_blank">Hogwarts Revisited</a></strong> &mdash; a free social network and forum community dedicated to the popularity of the beloved franchise.</li>
      <li><strong>ScenicRoutes.net</strong> &mdash; a future non-profit online presence and free social network focused on letting audiences express their mental health journeys.</li>
    </ul>
  </aside>

  <!-- and finally the footer. You made it this far, so you must want to hire me! -->
  <footer>&copy; 2021, grace de la Mora. <strong>#madeinGNV</strong></footer>
</body>
</html>